.card
  background-color: white
  display: inline-block
  height: 90px
  margin: 1em
  width: 90px

  &--depth-1
    MaterialShadow(1)

  &--depth-2
    MaterialShadow(2)

  &--depth-3
    MaterialShadow(3)

  &--depth-4
    MaterialShadow(4)

  &--depth-5
    MaterialShadow(5)
