/**  COMPONENTE TEXT
 **------------------------------------------*/
.text
  &__display-4
    MaterialText('display-4')
  &__display-3
    MaterialText('display-3')
  &__display-2
    MaterialText('display-2')
  &__display-1
    MaterialText('display-1')

  &__headline
    MaterialText('headline')

  &__title
    MaterialText('title')

  &__subhead-2
    MaterialText('subhead-2')
  &__subhead-1
    MaterialText('subhead-1')

  &__body-2
    MaterialText('body-2')
  &__body-1
    MaterialText('body-1')

  &__caption
    MaterialText('caption')

  &__button
    MaterialText('button')

/**  MUESTRA NOMBRES DE LAS CLASES
 **------------------------------------------*/
.text__display-4::before
.text__display-3::before
.text__display-2::before
.text__display-1::before
.text__headline::before
.text__title::before
.text__subhead-2::before
.text__subhead-1::before
.text__body-2::before
.text__body-1::before
.text__caption::before
.text__button::before
  color: $white-secondary
  display: block
  float: left
  font-size: 13px
  font-weight: 300
  letter-spacing: 0
  margin-right: 10px
  text-transform: none

.text__display-4::before
  content: 'display-4'
.text__display-3::before
  content: 'display-3'
.text__display-2::before
  content: 'display-2'
.text__display-1::before
  content: 'display-1'

.text__headline::before
  content: 'headline'

.text__title::before
  content: 'title'

.text__subhead-2::before
  content: 'subhead-2'
.text__subhead-1::before
  content: 'subhead-1'

.text__body-2::before
  content: 'body-2'
.text__body-1::before
  content: 'body-1'

.text__caption::before
  content: 'caption'

.text__button::before
  content: 'button'
