/**  MODULOS Y VARIABLES DEL PROYECTO
 **------------------------------------------*/
@import 'components/base';

/**  IMPORT DE ICON-FONTS
 **------------------------------------------*/
.ico
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  font-family: 'Material-Icons'
  text-rendering: auto
  // touch-action: none

@font-face {
  font-family: 'Material-Icons';
  src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0') format('woff2'),
       url('../fonts/Material-Design-Iconic-Font.woff?v=2.1.0') format('woff'),
       url('../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**  IMPORTS DE COMPONENTES
 **------------------------------------------*/
@import 'components/test';
