@import './tools/material-resources'
@import './tools/normalize-v3.0.3-ROBOTO'
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic")

.test
    background-color accent-color
    color white
    margin 1em auto
    MaterialShadow(1)
    padding .5em
    width 80%

    &__title
        margin 0
        MaterialText('text-display-4')

    &__paragraph
        margin 0
        MaterialText('text-headline')
