<!DOCTYPE html>
html(lang='es')
  head
    //-METATAGS
    meta(charset='UTF-8')
    meta(name='description' content='Mixins y variables basados en los guidelines de material design')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    title Material resources
    
    style
      //- INCLUDE QUE CONTIENE LOS ESTILOS DE LA PARTE SUPERIOR DEL SITIO.
      include ../stylesheets/components-primary/primary-css.css

  body
    header(class='wrapper header')
      h1(class='header__title') Stylus Material Resources
      p(class='header__description') Conjutno de variables y mixins para stylus y sass basados en los guidelines de material design.
    
    article(class='wrapper wrapper--dark')
      h2(class='text__display-4') Light 112px
      h2(class='text__display-3') Regular 56px
      h2(class='text__display-2') Regular 45px
      h2(class='text__display-1') Regular 34px
      
      h2(class='text__headline') Regular 24px
      
      h2(class='text__title') Medium 20px
      
      h2(class='text__subhead-2') Regular 16px
      h2(class='text__subhead-1') Regular 16px
      
      p(class='text__body-2') Medium 14px - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis aspernatur maxime saepe consequatur asperiores dolorum, officiis nisi, nostrum consequuntur in temporibus, doloremque neque voluptatum consectetur pariatur libero optio. Sunt.
      p(class='text__body-1') Regular 14px - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dicta optio error autem animi possimus similique dolorem, ratione nesciunt reiciendis, nemo esse? Odit doloribus aliquid minus maiores alias, deleniti tempore. 
      
      h2(class='text__caption') Regular 12px
      
      h2(class='text__button') Medium (ALL CAPS) 14px
        
    section(class='wrapper wrapper--white')
      div(class='card card--depth-1')
      div(class='card card--depth-2')
      div(class='card card--depth-3')
      div(class='card card--depth-4')
      div(class='card card--depth-5')
  
  //- IMPORT DE FUENTE ROBOTO GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic' rel='stylesheet' type='text/css')
  
  //-INCLUDE DE LOS ESTILOS QUE NO SON PRIORIDAD PARA LA PARTE SUPERIOR DEL SITIO.
  link(rel='stylesheet' type='text/css' href='./public/css/main.min.css')
