/**  COMPONENTE HEADER
 **------------------------------------------*/
.header
  background-color: $accent-color
  color: $white-primary

  &__title
    font-weight: normal
    margin: 0

  &__description
    margin: 0
