/**  MODULOS Y VARIABLES DEL PROYECTO
 **------------------------------------------*/
@import '../components/base';

/**  NORMALIZE
 **------------------------------------------*/
@import '../vendor/normalize';

/**  ELEMENTOS SIN CLASE
 **------------------------------------------*/
html
  font-size: 16px
  font-family: 'Roboto', 'Arial', 'Calibri'

body
  background-color: $grey-200

h2
  margin .25em 0

/**  PRIMARY COMPONENTS
 **------------------------------------------*/
@import 'wrapper-primary'
@import 'header-primary'
