.wrapper
  box-sizing: border-box
  margin: 0 auto
  MaterialShadow(1)
  padding: 2em
  width: 800px

  &--dark
    background-color: $grey-900
    color: $white-primary

  &--white
    background-color: white
    margin-bottom: 2em
    text-align: center
